@font-face {
    font-family: 'Gotham HTF Bold';
    src: url('/theme/fiap/fonts/gothamhtf-bold-webfont.eot');
    src: url('/theme/fiap/fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/theme/fiap/fonts/gothamhtf-bold-webfont.woff') format('woff'),
        url('/theme/fiap/fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
        url('/theme/fiap/fonts/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham HTF Medium';
    src: url('/theme/fiap/fonts/gothamhtf-medium-webfont.eot');
    src: url('/theme/fiap/fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('/theme/fiap/fonts/gothamhtf-medium-webfont.woff') format('woff'),
        url('/theme/fiap/fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
        url('/theme/fiap/fonts/gothamhtf-medium-webfont.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham HTF Light';
    src: url('/theme/fiap/fonts/gothamhtf-light-webfont.eot');
    src: url('/theme/fiap/fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/theme/fiap/fonts/gothamhtf-light-webfont.woff') format('woff'),
        url('/theme/fiap/fonts/gothamhtf-light-webfont.ttf') format('truetype'),
        url('/theme/fiap/fonts/gothamhtf-light-webfont.svg#gotham_htflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham HTF Book';
    src: url('/theme/fiap/fonts/gothamhtf-book-webfont.eot');
    src: url('/theme/fiap/fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('/theme/fiap/fonts/gothamhtf-book-webfont.woff') format('woff'),
        url('/theme/fiap/fonts/gothamhtf-book-webfont.ttf') format('truetype'),
        url('/theme/fiap/fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham HTF Thin';
    src: url('/theme/fiap/fonts/gothamhtf-thin-webfont.eot');
    src: url('/theme/fiap/fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('/theme/fiap/fonts/gothamhtf-thin-webfont.woff') format('woff'),
        url('/theme/fiap/fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
        url('/theme/fiap/fonts/gothamhtf-thin-webfont.svg#gotham_htfthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

#page-fiaplogin-index {
    background: #000 url('/theme/fiap/pix/login/bg/background-1.jpg') center no-repeat;
    background-size: cover;
    font: 14px "Gotham HTF Book";
}

.login-canvas-particles {
    position: absolute;
    opacity: .6;
    transition: transform 0.4s ease;
    z-index: -99;
}

.login-plataforma-hero-text span strong {
    font-weight: 700; /* Ou 'bold' */
    color: #ED145B;    /* Caso queira manter o rosa da FIAP no destaque */
}

.login-box {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
}

.login-logo-fiap {
    margin-bottom: 20px;
    text-align: center;
}

.login-logo-fiap>svg {
    height: 50px;
    width: 200px;
    fill: #fff;
}

.login-columns {
    display: grid;
    margin: auto;
    width: 100%;
    font-size: 0;
}

.login-column {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    width: 100%;
}

.login-label {
    color: #DDD;
    display: block;
    font: 12px/50px 'Gotham HTF Light';
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.login-input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFF;
    display: block;
    font: 15px/45px 'Gotham HTF Book';
    height: 50px;
    letter-spacing: 2px;
    outline: none;
    padding: 0 15px;
    text-align: center;
    width: 100% !important;
}

.login-btn {
    background: #ed145b !important;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: block;
    font: 14px 'Gotham HTF Bold';
    height: 50px;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    transition: all .4s;
    width: 100%;
    -webkit-appearance: none;
}

.login-btn:hover {
    background: #fff !important;
    color: #ed145b !important;
    opacity: 1;
}

.login-footer {
    padding: 5px;
    width: 100%;
}


.login-error {
    background: #ed145b;
    border-radius: 4px;
    color: #FFF;
    display: block;
    font: 13px/18px 'Gotham HTF Medium';
    padding: 6px 10px;
    text-transform: uppercase;
    text-align: center;
}

.login-reset-password {
    margin-top: 30px;
    display: block;
    font: 12px/50px 'Gotham HTF Medium';
    letter-spacing: 1px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #ED145B;
}

form#login {
    width: 320px;
}

.toggle-password {
    float: right;
    margin-right: 10px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #ED145B;
    font-size: 20px !important;
}